.story {
    background-color: #245852;
    padding: 229px 0 176px;
}

.story-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-content {
    max-width: 580px;
    margin-right: 30px;

}

.story-heading {
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.story-text {
    font-family: 'Lato', serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #FFFFFF;
    margin-bottom: 57px;
}

.story-video {
    overflow: hidden;
    max-width: 895px;
}

@media (max-width: 1199px) {
    .story {
        padding: 80px 0 80px;
    }

    .story-content {
        margin: 0 auto 30px;
    }

    .story-row {
        flex-direction: column;
    }

    .story-heading {
        font-size: 40px;
        line-height: 137%;
        margin-bottom: 23px;
    }

    .story-text {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 137%;
    }
}

@media (max-width: 991px) {
    .story {
        padding: 60px 0 60px;
    }

    .story-heading {
        font-size: 35px;
        line-height: 127%;
        margin-bottom: 18px;
    }

    .story-text {
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 125%;
    }
}